# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#pycache
__pycache__/

#vscode
.vscode/

#bazel symlinks
bazel-*

#machine specific conan files
conandeps/dependencies.bzl
conandeps/conan.lock
conandeps/conanbuild.conf
conandeps/conanbuildinfo.txt
conandeps/conaninfo.txt
conandeps/graph_info.json

#vim temporary files
*~
